<div class="sidebar-wrapper">
            <div class="contact-container container-block">

                <h2  class="section-title"><i class="fa fa-link" style="color: white; background: #750F6D;"></i>Links</h2>

                <ul class="list-unstyled contact-list">
                	<li class="lab"><i class="fa fa-flask"></i><a href="http://sfenks.sse.cuhk.edu.cn">SFENKS Lab</a></li>
                	<li class="email"><i class="fa fa-envelope"></i><a href="mailto: caiwei@cuhk.edu.cn">caiwei@cuhk.edu.cn</a></li>
                    <li class="scholar"><i class="fa fa-graduation-cap"></i><a href="https://scholar.google.com/citations?user=r0V3naEAAAAJ" target="_blank">scholar.google.com</a></li>
                    <li class="website"><i class="fa fa-globe"></i><a href="http://www.cuhk.edu.cn/academics/caiwei/" target="_blank">www.cuhk.edu.cn/academics/caiwei</a></li>
                    <li class="linkedin"><i class="fa fa-linkedin"></i><a href="https://linkedin.com/in/ubcweicai
" target="_blank">linkedin.com/in/ubcweicai</a></li>
                    <!-- <li class="github"><i class="fa fa-github"></i><a href="#" target="_blank">github.com/username</a></li> -->
                    <!-- <li class="twitter"><i class="fa fa-twitter"></i><a href="https://twitter.com/3rdwave_themes" target="_blank">@twittername</a></li> -->
                
                </ul>
                

           </div>   
            
            <div class="interests-container container-block">
                <h2  class="section-title"><i class="fa fa-binoculars" style="color: white; background: #750F6D;"></i>Research Interests</h2>
                    <ul class="list-unstyled interests-list">
                    <li><i class="fa fa-code"></i>Software Systems</li>
                    <li><i class="fa fa-cloud"></i>Cloud and Edge Systems</li>
                    <li><i class="fa fa-chain-broken"></i>Blockchain Systems</li>
                    <li><i class="fa fa-gamepad"></i>Game Systems</li>
                </ul>
            </div><!--//interests-->


            
        </div><!--//sidebar-wrapper-->