<div class="sidebar-wrapper">
            <div class="contact-container container-block">

                <h2  class="section-title"><i class="fa fa-link" style="color: white; background: #750F6D;"></i>Links</h2>

                <ul class="list-unstyled contact-list">
                	<li class="email"><i class="fa fa-envelope"></i><a href="mailto: weicai@ece.ubc.ca">weicai@ece.ubc.ca</a></li>
                    <li class="scholar"><i class="fa fa-flask"></i><a href="https://scholar.google.ca/citations?user=r0V3naEAAAAJ" target="_blank">scholar.google.ca</a></li>
                    <li class="website"><i class="fa fa-globe"></i><a href="http://ece.ubc.ca/~weicai" target="_blank">ece.ubc.ca/~weicai</a></li>
                    <li class="linkedin"><i class="fa fa-linkedin"></i><a href="https://linkedin.com/in/ubcweicai
" target="_blank">linkedin.com/in/ubcweicai</a></li>
                    <!-- <li class="github"><i class="fa fa-github"></i><a href="#" target="_blank">github.com/username</a></li> -->
                    <!-- <li class="twitter"><i class="fa fa-twitter"></i><a href="https://twitter.com/3rdwave_themes" target="_blank">@twittername</a></li> -->
                
                </ul>
                

           </div>   
            
            <div class="interests-container container-block">
                <h2  class="section-title"><i class="fa fa-binoculars" style="color: white; background: #750F6D;"></i>Research Interests</h2>
                    <ul class="list-unstyled interests-list">
                    <li><i class="fa fa-code"></i>Software Systems</li>
                    <li><i class="fa fa-chain-broken"></i>Blockchain Technology</li>
                    <li><i class="fa fa-cloud"></i>Cloud and Edge Computing</li>
                    <li><i class="fa fa-medium"></i>Video Games</li>
                </ul>
            </div><!--//interests-->


            
        </div><!--//sidebar-wrapper-->