<div class="sidebar-wrapper">
            <div class="contact-container container-block">

                <h2  class="section-title"><i class="fa fa-newspaper-o"></i>News</h2>

                <ul class="list-unstyled contact-list">
                	<li>[2018/01/10]<br>Our paper "UBCGaming: Ubiquitous Cloud Gaming System" has been accepted to IEEE System Journal</li>
                	<li> [2017/12/15]<br>I am co-chairing <a href="http://www.smartmm.org/" target="_blank">SmartMM2018</a> in Sicily, Italy <a href="http://www.smartmm.org/files/[CFP]SmartMM2018.pdf" target="_blank">[Call For Papers]</a></li>
                	<li> [2017/12/12]<br>Our paper "Toward Multiplayer Cooperative Cloud Gaming" has been accepted to IEEE Cloud Computing</li>
                	<li> [2017/12/01]<br>I am serving as TPC member for <a href="http://pimrc2018.ieee-pimrc.org/" target="_blank">IEEE PIMRC2018</a></li>
	                <li> [2017/11/17]<br>Our paper "Blockchain-Empowered Fair Computational Resource Sharing System in the D2D Network" has been accepted to Future Internet journal</li>
	                <li> [2017/10/07]<br>Our paper "Balancing Cloud and Mobile Terminal: An Empirical Study on Decomposed Cloud Gaming" has been accepted to IEEE CloudCom2017</li>
	                <li> [2017/10/07]<br>Our paper "A Novel Game Map Preloading and Resource Provisioning Scheme in Cooperative Cloud Networks" has been accepted to IEEE CloudCom2017</li>
	                <li> [2017/08/04]<br>I am serving as TPC member for <a href="http://www.ic-wcsp.org" target="_blank">WCSP2017</a></li>
	                <li> [2017/08/01]<br>I am serving as TPC member for <a href="http://www.comp.hkbu.edu.hk/~xinhuang/BSMDMA2017/" target="_blank">BSMDMA2017</a></li>
	                <li class="email"> [2017/05/09] Our paper "Cognitive Gaming" has been accepted to IT Professional</li>
                
                </ul>
                

                <!-- <h2 class="container-block-title">Links</h2>
                <ul class="list-unstyled contact-list">
                    <li class="email"><i class="fa fa-envelope"></i><a href="mailto: weicai@ece.ubc.ca" style="color:#750F6D">weicai@ece.ubc.ca</a></li>
                    <li class="scholar"><i class="fa fa-flask"></i><a href="https://scholar.google.ca/citations?user=r0V3naEAAAAJ" target="_blank" style="color:#750F6D">scholar.google.ca</a></li>
                    <li class="website"><i class="fa fa-globe"></i><a href="http://ece.ubc.ca/~weicai" target="_blank" style="color:#750F6D">ece.ubc.ca/~weicai</a></li>
                    <li class="linkedin"><i class="fa fa-linkedin"></i><a href="https://linkedin.com/in/ubcweicai
" target="_blank" style="color:#750F6D">linkedin.com/in/ubcweicai</a></li>
                    <!-- <li class="github"><i class="fa fa-github"></i><a href="#" target="_blank">github.com/username</a></li> -->
                    <!-- <li class="twitter"><i class="fa fa-twitter"></i><a href="https://twitter.com/3rdwave_themes" target="_blank">@twittername</a></li> -->
                <!-- </ul> --> 
            </div><!--//contact-container-->
           
            <!-- <div class="education-container container-block">
                <h2 class="container-block-title">Education</h2>
                <li>
                    <h4 class="degree">Ph.D. in Electrical and Computer Engineering</h4>
                    <h5 class="meta">University of British Columbia, Vancouver, Canada</h5>
                    <div class="time">2011 - 2016</div>
                </div>
                <li>
                    <h4 class="degree">M.Sc. in Electrical Engineering and Computer Science</h4>
                    <h5 class="meta">Seoul National University, Seoul, Korea</h5>
                    <div class="time">2009 - 2011</div>
                </div>
                <li>
                    <h4 class="degree">B.Eng. in Software Engineering</h4>
                    <h5 class="meta">Xiamen University, Xiamen, China</h5>
                    <div class="time">2004 - 2008</div>
                </div>
            </div> -->
            
            <!-- <div class="interests-container container-block">
                <h2 class="container-block-title">Research Interests</h2>
                <ul class="list-unstyled interests-list">
                    <li>Software System</li>
                    <li>Cloud and Edge Computing</li>
                    <li>Blockchain</li>
                    <li>Multimedia System</li>
                </ul>
            </div><!--//interests--> 

<!--             <div class="languages-container container-block">
                <h2 class="container-block-title">Languages</h2>
                <ul class="list-unstyled interests-list">
                    <li>English <span class="lang-desc">(Professional)</span></li>
                    <li>Chinese <span class="lang-desc">(Native)</span></li>
                    <li>Minnan/Taiwanese <span class="lang-desc">(Native)</span></li>
                    <li>Korean <span class="lang-desc">(Entry)</span></li>
                </ul>
            </div> -->
            

            
        </div><!--//sidebar-wrapper-->