
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"></a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li id="homenav"><a href="index.html">Home</a></li>
          <li id="researchnav"><a href="research.html">Research</a></li>
          <li id="publicationnav"><a href="publications.html">Publications</a></li>
          <li id="teachingnav"><a href="teaching.html">Teaching</a></li>
          <li id="servicenav"><a href="services.html">Services</a></li>
          <li id="awardnav"><a href="awards.html">Awards</a></li>
          <li id="contactnav"><a href="contact.html">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

